<app-header titulo="Text Speech"></app-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-select label="Idioma" [formControl]="idioma" name="idioma" placeholder="lengua">
        <div *ngFor = "let lang of supportedLanguages">
          <ion-select-option [value]="lang">{{ lang }}</ion-select-option>
        </div>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-select label="Voz" placeholder="Voces" name="voz" [formControl]="voice">
        <ion-select-option *ngFor="let voz of supportedVoices; let i = index" [value]="i">
          {{ voz.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-textarea label="Introduce un texto:" auto-grow="true" placeholder="Texto" name="texto" [formControl]="texto" required></ion-textarea>
    </ion-item>
    <ion-card-content>
      <ion-button expand="block" (click)="speak()">Speak</ion-button>
      <ion-button expand="block" (click)="stop()">Stop</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
