<app-header titulo="Text Speech"></app-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-select label="Idioma" [formControl]="idioma" name="idioma" placeholder="lengua">
        <div *ngFor = "let lang of supportedLanguages">
          <ion-select-option [value]="lang">{{ lang }}</ion-select-option>
        </div>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select label="Voz" placeholder="Voces" name="voz" [formControl]="voice">
        <div *ngFor = "let voz of supportedVoices">
          <ion-select-option [value]="voz">{{ voz.name }}</ion-select-option>
        </div>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input label="Introduce un texto:" placeholder="Texto" name="texto" [formControl]="texto" required></ion-input>
    </ion-item>
    <ion-card-content>
      <ion-button expand="block" (click)="speak()">Speak</ion-button>
      <ion-button expand="block" (click)="stop()">Stop</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
